/* Background color classes for the tiles */
.stupid-blue {
    background-color: #005DBA;
}

.banana-yellow {
    background-color: #FEC601;
}

.green-af {
    background-color:#24BC57;
}

.red-red {
    background-color: #B3001B;
}