/* Background color classes for the tiles */
.stupid-blue {
    background-color: #0075bf;
}

.banana-yellow {
    background-color: #ffcf00;
}

.green-af {
    background-color:#24BC57;
}

.red-red {
    background-color: #e51f13;
}