@media (min-width: 1280px) {
  .navbar {
    padding: 0px 10vw;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .landing > h1 {
    font-size: 40px;
  }

  .landing > h5 {
      font-size: 20px;
  }

  
}
